html {
  background-color: whitesmoke;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

* {
  font-family: "Nunito", sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.test {
  border: 2px solid red;
} */

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.5px 0.5px lightgray, 1px 1px black;
}

button {
  align-self: flex-start;
  font-size: 1rem;
  padding: 5px 8px;
  border-radius: 5px;
  border: solid gray 1px;
}

button:hover {
  background-color: gray;
  color: white;
  border-radius: 5px;
  border: solid black 1px;
}